Support/
Reproduction/**
Data/**
Support/
Manuscript draft/
Reproduction/figures/
Reproduction/**/_cache/
Reproduction/_glmqc/
dg_collect/
*.pdf
*.png
*.bmp
*.fig
*.edf
*.dat
*.m~
*.mat
.DS_Store
**/*.asv
**/*.html
__pycache__/
*.pyc
